# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
print('Data','Science','MentorShip','Program','started','by','campusx',sep='-')

Data-Science-MentorShip-Program-started-by-campusx

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
print(20+32*9/5)

77.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here
a=5
b=6

temp=a
a=b
b=temp

print(a)
print(b)

6
5

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here

cord_1,cord_2 = 3,4   #x1,y1
cord_3,cord_4 = 5,6  #x2,y2

# eucliduean distance
dis =  ((cord_3-cord_1)**2 + (cord_4-cord_2)**2)**0.5

print(dis)

2.8284271247461903

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
principle = 10000   #amount in Rs
rate = 5    # in percent
time = 2    # in years

si = (principle*rate*time)/100

print(si)

1000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here


def countDogs(heads=None,legs=None):
  count=0
  count = (legs)-2 * (heads)     # 300-2*100 = 100
  count = count/2   # 100/2 = 50
  return count     # 50


heads=100
legs=300

Dogs = countDogs(heads,legs)    # 50
Chicken = heads-Dogs   # 100-50 = 50

print('Number of Dogs',Dogs)    # 50
print('No of Chicken: ',Chicken)  # 50

Number of Dogs 50.0
No of Chicken:  50.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here

sum=0

for i in range(1,10):
  sum+=i

print(sum)

45

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here

a = 10    #first term
d= 20     # last term
n = 5   #search term

res =  a+(n-1)*d

print(res)

90

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here

frac_num1 = 3
frac_den1 = 5

frac_num2 = 4
frac_den2 = 6

frac1 = str(frac_num1) + '/' + str(frac_den1)
frac2 = str(frac_num2) + '/' + str(frac_den2)

frac_sum_num = (frac_num1*frac_den2) + (frac_num2*frac_den1)
frac_sum_den = frac_den1*frac_den2

frac_sum = str(frac_sum_num) + '/' + str(frac_sum_den)

print(frac1,'+',frac2,'=',frac_sum)

3/5 + 4/6 = 38/30

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
import math

# Dimension of Milk Tank
height_tank = 20
length_tank = 20
breadth_tank = 20

# Dimension of Glass
height_glass = 3
radius_glass = 1

# Volume of tank

vol_tank = height_tank*length_tank*breadth_tank

# Volume of glass

vol_glass = 3.14*radius_glass*radius_glass*height_glass


## count no pf glass = volume_tank/volume_glass

print('No of glasses: ',math.floor(vol_tank/vol_glass))

No of glasses:  849